* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    background-color:rgb(250, 236, 239);
}


img{
    width: 700px;
    margin: 20px -20px 20px 40px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px rgba(114, 114, 114, 0.699));
}

iframe{
    border-radius: 10px;
    margin: 20px -20px 20px 40px;
    filter: drop-shadow(5px 5px 5px rgba(114, 114, 114, 0.699));
    border-style: none;

}

figure{
    display: inline-block;
}

figcaption{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    word-spacing: 750px;
    font-size: larger;
    color: crimson;
    font-weight: bold;
}

code{
    white-space:pre-wrap;
}

.csscode{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin: 5em;
}

.content p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:black;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin: 5em;
    padding: 10px;
}

.a3 p{
    margin: 1em 20em 1em 20em;
    font-weight:lighter;
    text-align: left;
}

.a5 p{
    text-align: left;
    margin: 2em 1%;
}

.a2 img{
    margin: 10px;
}

.a2 .ios{
    border-radius: 35px;  
    width: 250px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.a2 .and{
    width: 250px;
    margin-left: 25px;
    margin-right: -65px;
  
}

.a2 .win{
     width: 700px;
     margin: 100px;
}



.banner{
    
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  z-index: -1;
  margin-top: -2.2em;
}
.a1 .banner{
    background-image: linear-gradient(rgba(243, 243, 243, 0.5), rgba(255, 49, 49, 0.5)), url("IMG/a1banner.jpg");
}
.a2 .banner{
    background-image: linear-gradient(rgba(243, 243, 243, 0.5), rgba(255, 49, 49, 0.5)), url("IMG/a2banner.jpg");
}
.a3 .banner{
    background-image: linear-gradient(rgba(243, 243, 243, 0.5), rgba(255, 49, 49, 0.5)), url("IMG/a3banner.jpg");
}
.a4 .banner{
    background-image: linear-gradient(rgba(243, 243, 243, 0.5), rgba(255, 49, 49, 0.5)), url("IMG/a4banner.jpg");
}
.a5 .banner{
    background-image: linear-gradient(rgba(243, 243, 243, 0.5), rgba(255, 49, 49, 0.5)), url("IMG/a5banner.jpg");
}

.index .banner{
    background-image: linear-gradient(rgba(243, 243, 243, 0.5), rgba(255, 49, 49, 0.5)), url("IMG/indexbanner.jpg");
}

.blender .banner{
    background-image: linear-gradient(rgba(243, 243, 243, 0.5), rgba(255, 49, 49, 0.5)), url("IMG/a1banner.jpg");
}




.a3 ul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0em 21em;
    padding: 10px;
    padding-left: 30px;
    margin: 1em 20em 1em 20em;
    background-color:rgb(235, 235, 235);
    border-radius: 10px;
    font-weight:lighter;
    list-style: circle;
    text-decoration: underline;
    text-decoration-thickness: 0.01em;
    text-underline-offset: 2px;
}


blockquote {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:crimson;
    color: white;
    font-weight: 400;
    font-size: larger;
    padding: 10px;
    margin: 1em 20em 1em 20em;
    border-radius: 10px;
    
}

a{
    text-decoration: none;
    color: crimson;
}
a:hover{
    text-decoration: underline ;
}

table{
    table-layout: fixed;
    margin-left: 20em;
    width:55%;
    border-collapse: collapse;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    background-color:antiquewhite;
    
}
td{
    border:0.5px solid #000000;
    text-align: center;
    
}

tfoot td{
    border: none;
    text-align: end;
    font-size: small;
}
table caption{
    font-weight: normal;
    padding: 0.5em;
}

abbr{
    text-underline-offset: 1px;
    
}

.acr{

    text-transform: uppercase;
}

.cover{
    text-align: center;
}
.cover li{
    display: inline-block;
    
}
.cover img{
    width: 300px;
    margin: 25px;
}

.cover img:hover{
    transform: scale(1.1);
}


li > a{
    color: black;  
}

.labcover li{
    display: inline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    margin: 10px;
    filter: drop-shadow(5px 5px 5px rgba(114, 114, 114, 0.699));
    padding: 20px;
}

.labcover{
    margin:50px 50px 200px 50px;
    text-align: center;
}

.labcover li:hover{

    font-weight: bold;
    background-color: crimson;
}


.othercover li{
    display: inline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    margin: 20px;
    filter: drop-shadow(5px 5px 5px rgba(114, 114, 114, 0.699));
    padding: 40px 80px;
    
}

.othercover{
    margin:50px 50px 100px 50px;
    text-align: center;
}

.othercover li:hover{
    background-color: crimson;
    font-weight: bolder;
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4em 25% 3.5em;
    text-transform: uppercase;
    text-align: center;
    font-size:3.3em;
}


h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    font-size:xx-large;
    text-transform: uppercase;
    padding: 30px 0px 20px 25px;
    color:rgb(201, 19, 55);
}

.a3 h2{
    margin:2em 15.25em -0.5em;
    padding:0;
    font-size:larger;
    margin-bottom: 10px;
}

.sign h2{
    padding: 0px;
    margin-bottom: 1em;
    text-align: center;
    color:white;
    border-style: none none solid none;
    padding-bottom: 0.5em;
}

h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0em 17.75em -1em;
    font-weight:lighter;
    font-size:large;
    color: darkred;
    margin-bottom: 1px;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    font-size:x-large;
    color: rgb(36, 36, 36);
    margin-top: 15px;
    margin-bottom: -15px;
    padding-bottom: 50px;

}

.a4 h4{
    padding: 30px 0px 20px 35px;
}
.a5 h4{
    padding: 30px 0px 20px 35px;
}

h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:normal;
    text-align: center;
    font-size: 1.3em;
    margin-top: 4em;
}

strong{
    font-weight:500;
    font-size:1.1em;
    color: #000000;
}




.column {
    float: left;
    width: 33%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column p{
    margin: 2em 2%;
}

form{
    display:block;
    
    border-style: solid;
    padding: 2em;
    margin:5em 25%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:crimson;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 25px;
}
input{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1%;

    margin-bottom: 1em;
    border-radius: 10px;
    border-style:solid;
    border-color: lightgrey;
    width: 100%;
}

.rmb input{
    width: fit-content;
}
::placeholder{
    color: rgb(173, 173, 173);
}

button {
    background-color:rgb(255, 37, 81);
    color: white;
    font-size: x-large;
    margin-top: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .rmb label{
      font-size: medium;
      font-weight: normal;
  }

  label a{
      display: block;
      color: white;
      margin-top: -2em;
      text-align: right;

  }



.sidebar{
    position: fixed;
    top: 3.5em;
    right: 1em;
    text-align: center;
    z-index: 10;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    color: ghostwhite;
    background-color:crimson;
    line-height: 2em;
    padding: 0.5em 1em;
    border-radius: 50px;
}

.sidedrop{
    display: none;
    position:relative;
    background-color:white;
    color: black;
    z-index: 10;
    top: 1em;
    border-radius: 100px;
    border-color: crimson;
    border-style:solid;
    list-style-type: none;
}

.sidedrop li > a {
    color: crimson;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    text-decoration:none;
}
.sidedrop li > a:hover{
    text-decoration: none;
    color: black;
}

.sidebar:hover .sidedrop{
    display:block;
    padding:0em;
}



.navbar{
    background-color:rgb(34, 34, 34);
    margin: 0;
    overflow: hidden;
}

.menu{
    margin: 0;
    padding: 0;
}

.navbar li{
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    
}

.navbar li > a {
    color: ghostwhite;
   
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration:none;
}

.navbar li > p {
    color: ghostwhite;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration:none;
}

.navbar li > a:hover{
    text-decoration: none;
    color: crimson;
}


.navbar li:hover{
    background-color: rgba(48, 48, 48, 0.699);
}


.dropdown{
    display: none;
    position:absolute;
    background-color:rgb(34, 34, 34);
}

.ham:hover .dropdown{
    display:block;
}

.current{
    background-color: crimson;

}

.navbar .current:hover{
    background-color: crimson;
}

.navbar .current a:hover{
    color:white;
}

.reg{
    margin-top: -2.85em;
    padding: 0;
    text-align: right;
}


footer{
    background-color: rgb(71, 71, 71);
    size: 10em;
}

footer .name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: x-large;
    text-align: center;
    letter-spacing: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-decoration:underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 0.5px;
    
    
}

footer .notice{
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    font-size: x-small;
    background-color:  rgb(58, 58, 58);
}

.icons{
    text-align: center;
    font-size:x-large;
    word-spacing: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.icons a{
    text-decoration:none;
    color: white;
    
}

.icons a:hover{
    color: crimson;
    opacity: 90%;
}

footer .foot a{
    text-decoration: none;
    color: white;
    display:inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: normal;
    
}

.foot{
    text-align:center;
    padding-bottom: 20px;
    color: white;
}

@media only screen and (max-width:768px) {
    /* For mobile phones: */
    .navbar li{
      width:100%;
      text-align: center;
    }
    .dropdown{
        position: relative;
        top: 0px;
    }

    img{
        width: 90%;
        margin: 40px 20px 10px 20px;
    }

    iframe{
margin: 40px 20px 10px 20px;
    }
    figure iframe{
        width: 90%;
    }
    
    .a1 p{
        width:80%;
        margin: 10%;
    }

    .sidebar {
        font-size: 1em;
    }
    
    footer .name{
       text-underline-offset: 5px;
    }

    .a2 .ios{
        border-radius: 30px;  
        width: 40%;
        margin-left: 4%;
        margin-bottom: 100px;
    }
    
    .a2 .and{
        width: 40%;
        margin-left: 2%;
        margin-right: 4%;
      
    }
    
    .a2 .win{
         width: 80%;
         
         margin: 10%;
    }

    .a2 p{
        width:80%;
        margin: 10%;
    }
    
    .a3 p{
        text-align: center;
        margin: 1em 5% 1em 10%;
        width: 80%;
        
    }

    blockquote{
        margin: 1em 5% 1em 10%;
        width: 80%;
    }

    .a3 ul{
        margin: 1em 5% 1em 10%;
        width: 80%;
    }

    table{
        margin: 1em 2% 1em 2%;
        width: 95%;
        font-size: xx-small;
    }


    h1{
        padding: 4em 2% 3.5em;
    }
    .a3 h2{
        margin:2em 10% -0.5em;
        
    }
    
    h3{
        margin:0em 0em -0.5em 10%;
    }


    .reg{
        margin: 0;
        
    }
    .othercover li{
        display: block;
    }
    .labcover li{
        display: block;
    }
    
    form{
        margin: 5em 5%;
    }
    .rmb label{
        font-size:xx-small;
    }

    label a{
        font-size: medium;
        margin-top: 0;

    }

    .column{
        float: none;
        width: fit-content;
    }

}